.body {
	background-image: none;
}
.project {
	background-image:none;
	background-color: #c4def3;
	color: #512903;
	padding-right: 20px;
	-webkit-border-radius: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.project_content_top {
	background-image:none;
	width: 0;
	height: 0;
}
.project_content_bottom {
	background-image:none;
	width: 0;
	height: 0;
}
.project_sm {
	background-image:none;
	background-color: #c4def3;
	color: #512903;
	padding-right: 20px;
	-webkit-border-radius: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.project_sm_top {
	background-image:none;
	width: 0;
	height: 0;
}
.project_sm_bottom {
	background-image:none;
	width: 0;
	height: 0;
}
