* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #512903;
	background-image:url('/images/bg_stripes.png');
	color: #FFFFFF;
	font-family: verdana, sans-serif;
	height: 100%;
}
html {
	height: 100%;
}
a {
	color: #c4def3;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px dotted #c4def3;
}

#main_content {
	width: 80%;
	height: 100%;
	margin: auto;
	background-color: #512903;
}
#main_sub {
	margin: 175px 20px 20px 20px;
}
.logo_main {
	float: right;
}
.project {
	background-image:url('/images/project_bg.png');
	background-repeat:repeat-y;
	color: #512903;
}
.project_content {
}
.project_logo {
	width: 562px;
	text-align: center;
}