* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #512903;
	background-image:url('/images/bg_stripes.png');
	color: #FFFFFF;
	font-family: verdana, sans-serif;
}
a {
	color: #512903;
	text-decoration: none;
	border-bottom: 1px dotted #512903;
}

.networks {
	margin: 10px;
	float: left;
}
.clear {
	clear: both;
}
#main_content {
	width: 1070px;
	margin: auto;
	background-color: #512903;
	border: 1px solid transparent;
}
#main_sub {
	margin: -110px 0px 30px 30px;
	float: left;
	width: 602px;
}
.logo_main {
	float: right;
	border: 0;
}
#right_column {
	width: 403px;
  float: right;
	margin-right: 20px;
}
.project {
	background-image:url('/images/project_bg.png');
	background-repeat:repeat-y;
	color: #512903;
	padding-right: 20px;
}
.project_content {
}
.project_content_top {
	background-image:url('/images/top.png');
	width: 562px;
	height: 30px;
}
.project_content_bottom {
	background-image:url('/images/bottom.png');
	width: 562px;
	height: 20px;
}
.project_content .logo {
	width: 562px;
	text-align: center;
}
.project_content .logo a {
	border:0;
}
.project_content .title {
	margin-left: 20px;
	font-weight: bold;
}
.project_content .url {
	margin-left: 20px;
}
.project_content .desc {
	margin-left: 20px;
	margin-top: 10px;
	font-style: italic;
}
.project_content ul {
	margin-top: 10px;
	margin-left: 40px;
	font-size: 0.8em;
}
.project_sm {
	background-image:url('/images/project_bg_sm.png');
	background-repeat:repeat-y;
	color: #512903;
	padding-right: 15px;
}
.project_sm_top {
	background-image:url('/images/top_sm.png');
	width: 363px;
	height: 34px;
}
.project_sm_bottom {
	background-image:url('/images/bottom_sm.png');
	width: 363px;
	height: 22px;
}
.project_content_sm ul {
	font-size: 0.9em;
	margin-left: 30px;
	margin-right: 10px;
}
.testimonial {
	margin-left: 40px;
	margin-top: 15px;
	font-style: italic;
	font-size: 0.8em;
}
.testimonial_author {
	margin-left: 65px;
	font-size: 0.7em;
}

/* files */
.files a {
	color: #FFFFFF;
}