
<%= image_tag("projects.png")%>

<div class="project">
	<%= image_tag("top.png")%><br/>
	<div class="project_content">
		<p class="project_logo"><%= link_to image_tag("wagrit.png", :border => 0), "http://www.wagrit.com"%></p>

	</div>
</div>
<%= image_tag("bottom.png")%>