<div class="files">
	<%= link_to "Blake Small", "/files/2261Blake_sm.zip" %><br/>
	<%= link_to "Blake Large 1", "/files/2261Blake_1.zip" %><br/>
	<%= link_to "Blake Large 2", "/files/2261Blake_2.zip" %><br/>
	<%= link_to "Blake Large 3", "/files/2261Blake_3.zip" %><br/>
</div>